/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}
.white-box{
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}
  footer{
    margin-top: 15px;
  }

/* regole di debug */
[class*="col-"] {
  /* min-height: 100px; */
  /* background-color: lightgreen; */
  border: solid 1px  #000;
  index: 100;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 66px;

}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

#nav-mobile {
  display: none;
}



/* regole corpo pagina */

/* regole header */
/* regole navigator */

.logo{
  text-align: center;
  line-height: 60px;
}
#logo{
  width: 35%;
  height:auto;
}
ul#menu_box3 li {
  font-family: sans-serif;
  display: block;
  text-align: center;
  line-height: 60px;
  padding: 0 15px ;
  float: left;
    }
ul#menu_box3 li a {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.languages{
  float: left;
  margin-left: 20px;
}

.centra-sez1,.centra-sez3 {
  margin: 10px 0;
  padding: 0 5%;
}
.centra-sez2 {
  margin: 10px 0;
  padding: 0 15%;
}

#imgsocial {
  padding-top: 50px;
  min-height: 300px;
}

/* regole jumbotron */
#jumbo {
  background-opacity: 0.5;
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  /* padding-top: 50px; */
  min-height: 800px;
}
.jumbo-box{
  margin-top: 25%;
  color: #fff;
  text-align: center;
}
.jumbo-title{
  padding: 2px 2%;
  font-size: 60px;
}
.jumbo-subtitle{
  margin-top: 10px;
  padding: 2px 2%;
  font-size: 25px;
}
.app-box{
margin-top: 30px;
}
#app{
  width: 45%;
  height:auto;
}
ul#menu-app li {
  width: 50%;
  /* font-family: sans-serif; */
  display: block;
  float: left;
    }
ul#menu-app li a {
  text-decoration: none;
}
/* regole footer */
